*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-global{
    max-width: 1500px;
    background-color: aquamarine;
    margin: 0 auto;
}

.container-global::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    width: calc(33% - 0.8rem);
    height: 750px;
    background-color: brown;
    margin-top: 1rem;
    margin-right: 0.8rem;
    float: left;
    position: relative;
    
}

article img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    filter: brightness(90%);
}


.favorite-heart{
    display: inline-block;
    background-color: white;
    width: 1.5em;
    line-height: 2em;
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 0;
}

.discount, .eco{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 8rem;
    background-color: red;
    color: white;
    padding: 0.3em;
    
}

.eco{
    left: 3em;
    background-color: green;
}

.card1{
    margin-left: 0.5rem;
    
}

.card.card1{
    max-width: 33%;
    background-color: brown;
    
}

.row:first-child, .row:last-child{
    margin-left: 3em;
    margin-right: 3em;
}
